# PyTorch GPU (CUDA 12.1)
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio

# Hugging Face & xử lý ảnh
transformers
huggingface_hub
Pillow
numpy
matplotlib
open_clip_torch
sentence_transformers

openai
dotenv

# FastAPI và web server
fastapi
uvicorn[standard]
python-multipart
opencv-python
